# Visual Studio cache & user files
.vs/
bin/
obj/
AMD/

# .NET build output
*.dll
*.exe
*.pdb
*.cache
*.deps.json
*.runtimeconfig.json
*.staticwebassets.json

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Visual Studio Code
.vscode/
